.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: violet;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    background: violet;
    font-size: 22px;
    color: blueviolet;
    margin-top: 25px;
    margin-bottom: 50px;
}

.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background: pink;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}

.boxes img{
    margin: 50px 50px 50px 50px;

}

@media(max-width:768px){
    .container{
        text-align: center;
    }
    
    .title{
        font-size: 30px;
        text-align: center;
    }

    .boxes{
        width: 100px;
        height: 100px;
    }

    .board{
       height: 375px;
       width: 325px;
       margin-top: 50px;
    }

    .reset{
        width: 120px;
        height: 40px;
        font-size: 20px;
        margin-top: 2px;
    }

    .boxes img{
        margin: 25px 25px 25px 25px;
    
    }
}
